# -*- mode: gitignore; -*-
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*
# Org-mode
.org-id-locations
*_archive
# flymake-mode
*_flymake.*
# eshell files
/eshell/history
/eshell/lastdir
# elpa packages
/elpa/
# reftex files
*.rel
# AUCTeX auto folder
/auto/
# cask packages
.cask/
custom.el
.smex-items
ac-comphist.dat
init.el.base
swank
/ido.last
/recentf
/url/cookies
emacs.el
custom.el
*~
bookmarks
recentf
*.eld

# Recovery and backup directories
/auto-save-list/
/backups/

# eww cache
/url/